.popup__error {
  display: block;
  min-height: 24px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #FF0000;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup__error_visible {
    display: block;
}

.popup__input_type_error {
    border: 1px solid red !important;
    outline: none; !important;
}